include README.md
include src/poke_env/data/static/*.json
include src/poke_env/data/static/*.html
include src/poke_env/data/static/moves/*.json
include src/poke_env/data/static/pokedex/*.json
include src/poke_env/data/static/typechart/*.json