alabaster==0.7.12
appdirs==1.4.3
aspy.yaml==1.3.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
black==19.3b0
certifi==2019.6.16
cfgv==2.0.1
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.4
docutils==0.15.2
entrypoints==0.3
flake8==3.7.8
identify==1.4.5
idna==2.8
imagesize==1.1.0
importlib-metadata==0.19
importlib-resources==1.0.2
Jinja2==2.10.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
nodeenv==1.3.3
packaging==19.1
pluggy==0.12.0
pre-commit==1.18.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.2
pyre-check==0.0.30
pytest==5.0.1
pytest-cov==2.7.1
pytz==2019.2
pywatchman==1.4.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
urllib3==1.25.3
virtualenv==16.7.2
wcwidth==0.1.7
zipp==0.5.2
