name: Lint
on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install .[dev]

      - name: Download Pandoc
        run: |
          wget https://github.com/jgm/pandoc/releases/download/3.1.9/pandoc-3.1.9-linux-amd64.tar.gz
          tar xvzf pandoc-3.1.9-linux-amd64.tar.gz --strip-components 2 -C /usr/local/bin

      - name: Run black
        run: black --check src/ unit_tests/ integration_tests/

      - name: Run flake8
        run: flake8 src/ unit_tests/ integration_tests/

      - name: Run isort
        run: isort --check .

      - name: Run mypy
        run: mypy src

      - name: Build docs
        run: |
            cd docs
            make html
